<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>AnonMessage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Righteous&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css"
          integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A=="
          crossorigin="anonymous" referrerpolicy="no-referrer" />
  </head>
  <body>
    <!-- MAIN CONTAINER -->
    <main>
      <div class="header_hero">
        {% for category, flash in get_flashed_messages(True) %}
          <div id="{{category}}">{{flash}}</div>
        {% endfor %}
        <h1 class="gradient-text">
          <i class="fa-solid fa-signature icon"></i>Введите сообщение и юзернейм
        </h1>
      </div>
      <!-- USERNAME INPUT -->
      <form action="/" method="post">
        <div class="username_div">
          <input name="username" type="text" class="username_input" placeholder="Type username..." maxlength="70" />
        </div>
        <!-- TEXT INPUT -->
        <div class="text_div">
          <textarea name="text" class="textarea" cols="30" rows="10" placeholder="Type message..."></textarea>
        </div>
        <!-- BUTTON -->
        <div class="button_div">
          <button class="button" type="submit">
            <span class="button_text">Отправить</span>
            <i class="fa-solid fa-paper-plane"></i>
          </button>
        </div>
      </form>
      <!-- FOOTER -->
      <footer class="footer_div">
        <i class="fa-solid fa-question question"></i>
        <i class="fa-solid fa-shield-halved shield"></i>
        <p class="for_connect">for connect: <a href="https://kolo_id" id="for_conn">@kolo_id</a> </p>
        <!-- ABOUT -->
            <div class="about">
              <p>
                  Это web-приложение создано для анонимной отправки сообщений пользователям в <i>Telegram</i>.<br><br>
                  Введите юзернейм пользователя, которому хотите отправить сообщение и само сообщение.<br><br>
                  Бот отправит ваше сообщение по указанному юзернейму.
              </p>
            </div>
          <div class="security">
            <p>
                Создатель данного приложения <b><u>не несёт</u></b> ответственность за возможные правонарушения,
                совершённые посредством этого приложения.<br><br>
                Перед использованием приложения убедитесь, что вы не нарушаете закон и чьи либо права.<br><br>
                Приложения соблюдает правила и политику конфиденциальности <i>Telegram</i>.
            </p>
          </div>
          <span>
          <a class="down_links" href="https://github.com/koloideal" target="_blank">
            <i>made by</i> <b>kolo</b>
            <i class="fa-brands fa-github git_ico"></i>
          </a>
              &
              <a class="down_links" href="https://github.com/yuKILLING" target="_blank"> <b>yuKILLING</b>
            <i class="fa-brands fa-github git_ico"></i></a>
        </span>
      </footer>
    </main>
    <!-- JavaScript -->
    <script src="{{ url_for('static', filename='script.js') }}"></script>
  </body>
</html>
